/* General Styles */

.page {
    background-color: #000;
    /* Light gray background */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 100;
    height: 100;
    margin: 40;
}

.header {
    color: #e5e5e5;
    font-size: 15;
    margin-bottom: 20;
}

.input {
    placeholder-color: #f17d8c;
    background-color: #e5e5e5;
    color: #e94057;
    font-size: 15;
    padding: 15;
    border-radius: 10%;
    margin: 20px 0;
    width: 350;
}

.input-bio {
    height: 100;
    /* text-wrap: wrap; */
}

.checkbox-text {
    color: #e5e5e5;
    font-size: 16;
    margin: 20;
    padding: 10;
    width: 350;
    overflow: auto;
}

.btn {
    font-size: 16;
    margin: 10 30;
    padding: 10;
    width: 350;
    border-radius: 10%;
}

.btn-primary {
    background-color: #bc7be4;
    color: #fff;
}

.terms-policy {
    justify-content: space-between;
    /* margin-top: 20; */
    margin: 20;
    margin-left: 90;
}

.terms,
.policy {
    color: #e5e5e5;
    text-decoration: underline;
    margin: 10;
}