<StackLayout class="page">
    <StackLayout class="logos">
        <img class="logo" src="~/assets/logo.png" alt="" />
        <Label text="Sign up to continue" horizontalAlignment="center" class="header"></Label>
    </StackLayout>

    <StackLayout class="inputs" orientation="vertical">
        <TextField class="input" hint="Phone" [(ngModel)]="password"></TextField>
        <TextField class="input" hint="Email" [(ngModel)]="password"></TextField>
        <TextField class="input" hint="Password" [(ngModel)]="password"></TextField>
        <TextField class="input" hint="Rewrite Password" [(ngModel)]="password"></TextField>

        <Button text="Continue" class="btn btn-primary" (tap)="onContinue()"></Button>
    </StackLayout>

    <StackLayout orientation="horizontal" class="terms-policy">
        <Label text="Terms of use" (tap)="onTermsOfUse()" class="terms"></Label>
        <Label text="Privacy Policy" (tap)="onPrivacyPolicy()" class="policy"></Label>
    </StackLayout>
</StackLayout>
