<StackLayout class="page">
    <StackLayout class="logos">
        <img class="logo" src="~/assets/logo.png" alt="" />
        <Label text="Sign up to continue" horizontalAlignment="center" class="header"></Label>
    </StackLayout>

    <StackLayout class="inputs" orientation="vertical">
        <TextField style="placeholder-color: #e94057" class="input" hint="First Name" [(ngModel)]="password"></TextField>
        <TextField class="input" hint="Last Name" [(ngModel)]="password"></TextField>
        <TextField class="input" hint="Middle Name" [(ngModel)]="password"></TextField>
        <RadioGroup [(value)]="dataBoundVariable">
            <RadioButton text="Selection 1"></RadioButton>
            <RadioButton text="Selection 2"></RadioButton>
            <RadioButton text="Selection 3"></RadioButton>
        </RadioGroup>
    </StackLayout>
    <Button text="Continue" class="btn btn-primary" (tap)="onContinue()"></Button>

    <StackLayout orientation="horizontal" class="terms-policy">
        <Label text="Terms of use" (tap)="onTermsOfUse()" class="terms"></Label>
        <Label text="Privacy Policy" (tap)="onPrivacyPolicy()" class="policy"></Label>
    </StackLayout>
</StackLayout>
