<StackLayout class="page">
    <StackLayout class="logos">
        <img class="logo" src="~/assets/logo.png" alt="" />
        <Label text="Terms of use" horizontalAlignment="center" class="header"></Label>
    </StackLayout>

    <ScrollView class="scrollView" isScrollEnabled="true">
        <StackLayout class="inputs" orientation="vertical">
            <Label textWrap="true" class="terms-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, a
        itaque. Maiores, similique. Recusandae quas non sint temporibus ducimus
        numquam doloremque ea deleniti, veniam quibusdam fuga id, asperiores
        quidem omnis. Delectus accusamus numquam nobis voluptatum reiciendis
        quae totam, illo odio saepe fuga laborum eum quod et amet nam incidunt
        enim recusandae, corrupti exercitationem modi velit tempore quos
        voluptatibus? Dolor, neque. Praesentium quod inventore alias doloribus
        perspiciatis rem beatae soluta facilis labore, recusandae dolores
        debitis reprehenderit sint voluptas nam fugiat similique consequatur ut
        ipsum libero illum eius quo enim vitae. In. Dicta rerum quaerat,
        voluptas placeat beatae officiis repudiandae ex at maiores laudantium
        consectetur obcaecati odit est sint dolor delectus deserunt porro magni
        reprehenderit. Consequatur praesentium nihil beatae libero, inventore
        aut. Et minus blanditiis praesentium incidunt, eum eos sed, at eaque
        quas delectus possimus dicta dolore saepe dignissimos voluptatem
        dolorum, mollitia voluptates. Quisquam dignissimos assumenda delectus
        aut quibusdam praesentium harum ducimus. A quis laborum ea, reiciendis
        provident officia animi aliquid possimus labore. Deleniti ex voluptates
        nemo. Quisquam, fugit optio, sit inventore autem ratione rem quod in
        nesciunt rerum, non qui architecto. Excepturi aliquam aliquid odit, eum
        minus illo, odio molestiae architecto expedita similique nostrum est
        porro, eligendi deserunt neque aspernatur deleniti exercitationem itaque
        laborum! Voluptatibus dolor non obcaecati laboriosam eos hic? Distinctio
        quis facere eum deleniti asperiores exercitationem tenetur, eveniet vero
        fuga. Cupiditate nesciunt ab vel ipsum molestiae quidem quos neque iusto
        rerum eos, cumque numquam quasi voluptates cum asperiores quae. Iusto
        nemo quisquam quod praesentium aspernatur a vitae alias ut sint magni,
        cum ea, incidunt placeat fuga quaerat accusamus voluptas minus eligendi
        eos eveniet, natus rerum neque! Assumenda, mollitia pariatur. Culpa
        magnam, pariatur eos blanditiis nobis sequi officiis inventore ullam?
        Neque consequuntur architecto rem magnam nam, necessitatibus perferendis
        illum pariatur nemo alias! Expedita, exercitationem? Sunt totam neque
        inventore temporibus fugiat. Ipsa exercitationem soluta iusto quos
        consectetur mollitia iure! Illum ea sequi sapiente maxime laudantium
        asperiores a obcaecati doloremque, distinctio nesciunt est veritatis qui
        facilis harum perspiciatis soluta eligendi? Expedita, saepe! Obcaecati
        deleniti ab iusto tenetur odio voluptatum possimus repudiandae explicabo
        laudantium, quos, provident impedit! Incidunt, voluptatibus qui fuga non
        quis obcaecati aspernatur dignissimos sed fugit numquam! Sapiente dolore
        necessitatibus error? Expedita aperiam magnam aliquam possimus. A, amet!
        Itaque, maxime? Repellendus sit necessitatibus ducimus aspernatur
        mollitia ex possimus magnam cupiditate velit reprehenderit ea cumque,
        distinctio quaerat consectetur voluptas doloremque incidunt fuga. Libero
        obcaecati natus, recusandae aliquid repudiandae, molestias reprehenderit
        unde voluptates perferendis nam voluptatum distinctio tenetur velit
        dicta dolorem, a voluptatibus quibusdam? Tempora dolorum nostrum iusto
        exercitationem tempore vel modi nam. Magnam similique exercitationem
        voluptatem corporis sit culpa in ipsam eaque! Tempore commodi dolorum
        atque cum eius maxime numquam temporibus officiis, saepe dolor possimus
        voluptatum autem explicabo quas earum corrupti ducimus. Optio iusto sint
        commodi voluptatibus! Tempore fugit facere quasi magnam non corporis,
        sapiente, esse nam minima enim laboriosam exercitationem minus nisi
        accusantium dolor laudantium modi quae excepturi. Molestias, odio illum?
        Suscipit, illum, tempora fugiat praesentium dolores consectetur vitae
        nostrum quibusdam laboriosam molestiae, omnis hic ut. Qui quas
        asperiores quia consequatur expedita non itaque soluta vel voluptas
        deserunt laudantium, veniam quasi? Dignissimos maxime eligendi aliquam
        saepe, excepturi natus, sed tenetur repudiandae distinctio amet quidem
        aliquid doloribus ex numquam quasi laborum porro consectetur placeat
        earum consequuntur aut blanditiis quia! Aliquam, odit omnis. Ipsum quam,
        aperiam repellat vitae labore dolore tempora beatae quisquam voluptatem,
        debitis nostrum amet aspernatur, enim temporibus nobis! Quo quos a
        excepturi perferendis ipsa voluptate itaque adipisci impedit dolores
        commodi! Saepe aut asperiores sint voluptatibus rem exercitationem quo
        nihil fuga facilis ea dignissimos id magni soluta cumque, quae
        perspiciatis voluptate totam. Libero iure officiis ut nulla provident
        quaerat architecto ab! Nesciunt explicabo dolorem laudantium cupiditate
        reiciendis quasi accusantium ut pariatur dolores magni praesentium,
        tempore neque dolore beatae veritatis quis esse. Harum labore possimus
        unde officiis, voluptas quo repellat quas asperiores.</Label
      >
    </StackLayout>
  </ScrollView>
  <StackLayout>
    <Button text="Back" class="btn btn-primary" (tap)="onBack()"></Button>
  </StackLayout>
</StackLayout>